<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar bg-light">
        <div class="container ms-3 justify-content-start">
          {% if user.is_authenticated %}
                <a class="navbar-brand fw-bold" href="{% url 'accounts:detail' user.pk %}">{{ request.user.username }}</a>
          {% else %}
                <a class="navbar-brand fw-bold" href="#">비회원</a>
          {% endif %}
          <span>님 안녕하세요</span>
        </div>
      </nav>
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
</body>
</html>